.cards.block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
    gap: 9px;
   width: 61%;
}

.cards.block > div {
  position: relative;
  overflow: hidden;
  border: 1px solid #dadada;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.cards.block picture,
.cards.block img {
  display: block;
  width: 100%;
  height: auto;
}

.cards.block > div > div:nth-child(2) {
     padding: 16px;
    background-color: #0065a4;
    z-index: 1;
    height: 33px;
}

.cards.block > div > div:nth-child(3) {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 51, 102, 0.85); /* dark blue overlay */
  color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: 2;
}

.cards.block > div:hover > div:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
}

.cards.block > div > div:nth-child(3) a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 12px;
  display: inline-block;
}


.cards.block > div > div:nth-child(2) > div p {
   color: white;
   width: 100%;
    padding: 6px;
    font-size: 16px !important;
    font-weight: bold;
    font-family: "Mission Gothic", Arial Narrow Bold ! important;
}
