.header-wrapper {

    margin-top: -48px;
}



 .header-wrapper > div:nth-of-type(-n+15) {
            height: 140px;
    overflow: visible;
    /* width: 965px; */
    max-width: 965px !important;
    position: relative;
    left: 10%;
    margin-top: -25px;
    }

    .header > div:nth-child(1) > div {
    display: inline;
    float: left;
    }

    .header > div:nth-child(3) > div {
    text-align: right;
    float: right;
    padding-top: 6px;
    padding-right: 12px;
    font-family: "Mission Gothic", Arial Narrow, Verdana;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    position: relative;
    right: 10%;
    margin-top: 24px;
    }
     .header > div:nth-child(3) > div ul {
    display: flex;
    padding-left: 0 !important;
    gap: 6px;
    list-style-type: none;
     }
     .header > div:nth-child(3) > div ul li a {
    font-size: 13px;
    color: #666666;
    font-family: "Mission Gothic", Arial Narrow, Verdana;
    font-weight: 600;
     }

    .header > div:nth-child(3) > div ul li:nth-child(1) a::after {
        content: " |";
        padding: 0px 9px;
    font-size: 14px;
    }

    .header > div:nth-child(3) > div ul li:nth-child(2) a::after {
        content: " |";
        padding: 0px 9px;
    font-size: 14px;
    }

    .header > div:nth-child(4) > div  p {
       display: inline-block;
    height: 24px;
    position: relative;
    padding: 0 15px 0 15px;
    font: bold 12px / 24px Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none !important;
    background-color: #d40000;
    color: white;
    text-align: center;
    border-radius: 20px;
    left: 75%;
    bottom: -19px;
}
    .header > div:nth-child(5) > div > p {
        display: none;
    }

    .header > div:nth-child(7) > div > p {
      font: 12px / 24px Arial, Verdana, Geneva, sans-serif;
    color: #999;
    width: 17%;
    position: relative;
    left: 64%;
    border: 2px solid #d40000;
    float: left;
    text-align: left;
    top: 26px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 8px;
    height: 21px;
    }

     .header > div:nth-child(8) {
    width: 0%;
    position: relative;
    bottom: 52px;
    left: 93%;
     }

    .header > div:nth-child(8) > div {
    width: 18px;
     }

    .header > div:nth-child(8) > div > picture > img {
       display: flex;
    align-items: center;
    border: 2px solid #d40000;
/*     border-radius: 20px; */
    padding: 4px 8px 6px 6px;
    height: 12px;
    position: relative;
    border-radius: 0px 20px 20px 0px;
    top: 29.7px;
    left: 29px;
    background-color: #d1232A;
    }

    .header > div:nth-child(9) {
        position: relative;
    }

    .header > div:nth-child(9) > div {
            position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    background-image: url(https://michigan.aaa.com/assets/images/Global/background.png);
    /* background-size: cover; */
    /* background-position: center; */
    z-index: 0;
    }

    .header > div:nth-child(9) > div ul {
        list-style-type: none;
    padding-left: 0 !important;
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    height: 56px;
    }

    .header > div:nth-child(9) > div ul li {
        list-style: none;
    position: relative;
    float: left;
    /* height: 100%; */
    left: 13%;
    padding: 15px 18px;
    }

     .header > div:nth-child(9) > div ul li:nth-child(1) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -186px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(2) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -242px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(3) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -298px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(4) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -354px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(5) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -466px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(6) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -578px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(7) a {
    background-image: url(https://michigan.aaa.com/assets/Images/Global/MainNav.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center -634px;
    color: transparent;
     }

    .header > div:nth-child(9) > div ul li:nth-child(1)::before {
    content: "";
    width: 3px;
    background-image: url(https://michigan.aaa.com/assets/Images/Global/Navigation.png?v=2);
    background-repeat: no-repeat;
    background-position: -0px -112px;
    height: 56px;
    position: absolute;
    left: 0;
    bottom: 0;
    }

    .header > div:nth-child(9) > div ul li::after {
    content: "";
    width: 3px;
    background-image: url(https://michigan.aaa.com/assets/Images/Global/Navigation.png?v=2);
    background-repeat: no-repeat;
    background-position: -0px -112px;
    height: 56px;
    position: absolute;
    right: 0;
    bottom: 0;
    }

    .header > div:nth-child(9) > div ul li:nth-child(1):hover {
    cursor: pointer;
    background-color: #2D72B8;
}
    .header > div:nth-child(9) > div ul li:nth-child(2):hover {
    cursor: pointer;
    background-color: #2D72B8;
}
    .header > div:nth-child(9) > div ul li:nth-child(3):hover {
    cursor: pointer;
    background-color: #2D72B8;
}
    .header > div:nth-child(9) > div ul li:nth-child(4):hover {
    cursor: pointer;
    background-color: #2D72B8;
}
    .header > div:nth-child(9) > div ul li:nth-child(5):hover {
    cursor: pointer;
    background-color: #2D72B8;
}
    .header > div:nth-child(9) > div ul li:nth-child(6):hover {
    cursor: pointer;
    background-color: #2D72B8;
}
    .header > div:nth-child(9) > div ul li:nth-child(7):hover {
    cursor: pointer;
    background-color: #2D72B8;
}

    
@media (max-width: 767px) {
    .header-wrapper {
        display: none;
    }
}
    
@media (min-width: 768px) and (max-width: 1023px){


.header > div:nth-child(4) > div p {
               display: inline-block;
        height: 24px;
        position: relative;
        padding: 0 15px 0 15px;
        font: bold 12px / 24px Arial, Helvetica, sans-serif !important;
        text-transform: uppercase;
        text-shadow: none;
        text-decoration: none !important;
        background-color: #d40000;
        color: white;
        text-align: center;
        border-radius: 20px;
        left: 86%;
        bottom: 45px;
        width: 11%;
}


    .header > div:nth-child(9) > div {
    position: relative;
    left: 39%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    background-image: url(https://michigan.aaa.com/assets/images/Global/background.png);
    /* background-size: cover; */
    /* background-position: center; */
    z-index: 0;
    width: 187%;
}


    .header > div:nth-child(7) > div > p {
    font: 12px / 24px Arial, Verdana, Geneva, sans-serif;
    color: #999;
    width: 17%;
    position: relative;
    left: 64%;
    border: 2px solid #d40000;
    float: left;
    text-align: left;
    top: 21px;
    border-radius: 22px 0px 0px 14px;
    padding-left: 58px;
    height: 21px;
    margin-left: 478px;
}


    .header > div:nth-child(8) > div > picture > img {
    display: flex
;
    align-items: center;
    border: 2px solid #d40000;
    /* border-radius: 20px; */
    padding: 4px 8px 6px 6px;
    height: 12px;
    position: relative;
    border-radius: 0px 20px 20px 0px;
    top: 21.7px;
    left: 456px;
    background-color: #d1232A;
}

    .header > div:nth-child(1) > div img {

        margin-top: 115px;
        position: relative;
        width: 158% ! important;

    }


    
.header > div:nth-child(3) > div {
    text-align: right;
    float: right;
    padding-top: 6px;
    padding-right: 12px;
    font-family: "Mission Gothic", Arial Narrow, Verdana;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    position: relative;
    right: -42%;
    margin-top: 20px;
}

    .header > div:nth-child(3) > div ul {
    display: flex
;
    padding-left: 0 !important;
    gap: 6px;
    list-style-type: none;
    margin-top: 94px;
}
    
}
    

