[data-aue-prop="image" ] {

    margin-top: -1px;
    margin-left: 101px;
}
@media (max-width: 767px) {
[data-aue-prop="image" ] {

    margin-top: -1px;
    margin-left: 10px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
[data-aue-prop="image" ] {

    margin-top: -1px;
    margin-left: 10px;
}
}
