.hero-wrapper .hero img {
  margin-top: 1px;
  margin-left: 127px;
}

@media (max-width: 767px) {
.hero-wrapper .hero img {

      margin-top: 1px;
        margin-left: -24px;
        max-width: 167%;
        height: 292px;
    
}

}

@media (min-width: 768px) and (max-width: 1024px) {
.hero-wrapper .hero img {

            margin-top: -1px;
        margin-left: -25px;
        max-width: 231% ! important;
        width: 186%;
}
} 
