

.arrowbutton > div:nth-child(1) > div > p a {
    display: inline-block;
    position: relative;
    background-color: #0065a4;
    color: white;
    font-size: 23px !important;
    line-height: 24px !important;
    font-family: "Mission Gothic Bold Italic", Arial Narrow Bold !important;
    font-weight: bold !important;
    font-style: inherit !important;
    text-decoration: none;
    margin-left: 230px;
    height: 66px;
    margin-top: 32px;
}

/* Create the arrow shape on the left */
.arrowbutton > div:nth-child(1) > div > p a::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-right: 40px solid #0065a4;
}


.arrowbutton > div:nth-child(1) {

width:30%;

}



.arrowbutton > div:nth-child(2) > div > p {
     font-size: 15px !important;
    line-height: 20px !important;
    font-family: Verdana, Arial Narrow Bold;
    margin-left: 224px;
    margin-top: -96px;
    align-items: start;


}



.arrowbutton > div:nth-child(2) > div > h3 {
 font-family: "Mission Gothic Bold Italic", Arial Narrow Bold !important;
    font-weight: bolder;
    text-align: left;
    color: #d1232a;
    font-style: italic;
    margin-left: 529px;


}


.arrowbutton > div:nth-child(3) > div > p a {
      font-family: Verdana, Arial, Helvetica, Sans-serif;
    font-size: 11px;
    text-decoration: underline;
    
}
