.footercomp-wrapper {
width: 100%;
}


.footercomp-wrapper {
  background-color: #c4c4c4;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  text-align: center;
    height: 125px;
}


.footercomp-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.footercomp-wrapper li {
display: inline-block;
    margin: 0 8px;
   
    position: relative;
    text-decoration: none;
   
    margin-top: 10px;
    margin-bottom: 0;
    
    text-align: center;
    color: #666;
    font-size: 11px;
    font-family: Verdana;
}


.footercomp-wrapper li:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: #666;
}


.footercomp-wrapper a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: #666;
    font-size: 11px;
    font-family: Verdana;
    margin-left: -18px;
}

.footercomp-wrapper a:hover {
  text-decoration: underline;
}


.footercomp-wrapper p {
    margin-top: 10px;
    margin-bottom: 0;
   
   
    text-align: center;
    color: #666;
   font-size: 11px ! important;
    font-family: Verdana;
}


.footercomp-wrapper p:empty,
.footercomp-wrapper p:has(br),
.footercomp-wrapper p:has(&nbsp;) {
  display: none;
}
