.text-block-wrapper [data-aue-prop="text"] a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d40000; /* AAA red */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.text-block-wrapper a:hover {
  background-color: #a80000; /* darker red on hover */
}
