 .rowhidden > div:nth-child(1) > div h2 {
    font-size: 28px !important;
    line-height: 32px !important;
    font-family: "Mission Gothic Bold Italic", Arial Narrow Bold !important;
    font-weight: bold !important;
    font-style: inherit !important;
    text-align: center;
    color: #0065a4;
    margin-top: -13px;
    margin-right: 62px;
 }


.rowhidden > div:nth-child(2) > div p {
font-size: 15px !important;
    line-height: 19px !important;
    font-family: Verdana, Arial Narrow Bold;
    text-align: center;
    color: #666666;
    margin-top: -11px;
    line-height: 1.6 ! important;


}

 .rowhidden > div:nth-child(3) > div h3 {
    font-size: 22px !important;
    line-height: 29px !important;
    font-family: "Mission Gothic", Arial Narrow Bold;
    font-style: inherit !important;
    position: relative;
    width: 53%;
    left: 278px;

 }

@media (max-width:767px) {

.rowhidden {
  display: none ! important;

}

}




@media (min-width:767px) and (max-width:1024px) {


 .rowhidden > div:nth-child(1) > div h2 {
         margin-left: 264px;
        width: 111%;
        font-size: 35px ! important;
        line-height: 42px ! important;
 }


.rowhidden > div:nth-child(2) > div p {
              font-size: 22px !important;
        line-height: 19px !important;
        font-family: Verdana, Arial Narrow Bold;
        /* text-align: center; */
        color: #666666;
        margin-top: -11px;
        line-height: 1.6 ! important;
        width: 178%;
        margin-left: 25px;


}

 .rowhidden > div:nth-child(3) > div h3 {
        font-size: 29px !important;
        line-height: 43px !important;
        font-family: "Mission Gothic", Arial Narrow Bold;
        font-style: inherit !important;
        position: relative;
        width: 121%;
        left: -62px;

 }



}


