.videocta-wrapper .video-wrapper {
  cursor: pointer;
  max-width: 640px;
  aspect-ratio: 16 / 9;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.videocta-wrapper .video-wrapper img,
.videocta-wrapper .video-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
